body {
    background: #CAF0F8;
}

.main {
    background: #90E0EF;
    color: #001219;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    width: 1000px;
    height: 1000px;
    margin: 125px auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 200px;
}

button {
    display: block;
    background: #00B4D8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    margin: 15px auto;
    padding: 10px 20px;
    border: 0;
    border-radius: 20px;
}

p {
    font-size: 30px;
    margin: 50px auto;
}